section.lh_container {
  display: block;
  margin-top: 11.6%;
}

.lh_content {
  display: block;
  background: url(https://highlandscoffee.com.vn/vnt_upload/weblink/bg.png) no-repeat top right;
  margin: 0 10%;
}

.lh_tieude {
  display: block;
  padding-top: 34px;
}

h1.lh_title {
  display: block;
  font-family: serif;
  font-weight: 900;
  font-size: 41px;
}

.lh_tieude h4 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.lh-form {
  display: block;
  margin-top: 30px;
}

ul.lh-list {
  display: block;
  padding: 0;
  list-style: none;
}

li.lh-item {
  display: block;
  position: relative;
  margin-bottom: 15px;
}

form.lh-f {
  display: block;
  width: 60%;
}

.lh-phan label {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.lh-phan input {
  display: block;
  width: 83%;
  position: relative;
  padding: 10px 6px 10px 50px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background: #eee;
}

.lh-phan a {
  position: absolute;
  left: 2%;
  color: #ccc;
}

.name-input a {
  transform: translateY(-31px);
}

.mail-input i {
  transform: translate(6px, -32px);
  color: #ccc;
}

textarea {
  width: 83%;
  height: 29%;
  border: 1px solid #ccc;
  border-radius: 7px;
  background: #eee;
  padding: 10px 16px 17px 40px;
}

input.inputMa {
  width: 98%;
}

.ma-input {
  display: inline-block;
  width: 65%;
}

.mabaove {
  display: inline-block;
  transform: translateY(15px);
}

.ma-input a {
  transform: translateY(-30px);
}

.lh-sub {
  display: block;
  margin: 37px 0;
}

button.lh-button {
  padding: 10px 47px;
  border: 1px solid #B02B2E;
  color: #B02B2E;
  background: none;
  border-radius: 12px;
}

button.lh-button:hover {
  color: #fff;
  background: #B02B2E;
  border: none;
}
